body {
  background: $bg;
}
h1 {
  color: $header;
  font-size: 4em;
  padding: $padding;
  text-align: center;
} //end h1
section,aside{
  padding: $padding;
}
.parallax{
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100vh 0;/*padding to force scrollbars*/
}
.foreground{
  transform: translateZ(0);
  /* transform: translateZ(-1px) scale(2); */
}
.background{
  transform: translateZ(-1px);
  background-color: green;
  /* transform: translateZ(-2px) scale(3); */
}
.parallax-header{
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
